<% include header %>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <input type="file" name="filename" multiple>
        <input type="submit" value="提交">
    </form>
<% include footer %>
